:root {
    --border-color: transparent;
  }

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    
}

.navbar{
    display: flex;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    justify-content: space-between; /*rozdziela kontent w navbar na rowne odstepy*/
    align-items: center;
    color: white;
    padding: 1rem 1.75rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar a{
    color: inherit;
    text-decoration: none;
}

.navbar a:hover{
    color: white;
}

.navbar ul a{
    padding: 0.75rem 1rem;
    font-size: 1.125rem;
    border-radius: 2px;
}

.navbar ul a:hover{
    transition: 0.2s;
    background-color: orange;
    color: black;
}

.site-title{
    /* flex: 1; */
    padding: 0;
}

.site-title a{
    font-size: 1.75rem;
}

.navbar ul{
    /* flex: 2; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    /* margin: 0.5rem 0.5rem; */
}

.login-section{
    /* flex:1; */
    text-align: right;
    margin: 0;
    padding: 0;
}

.login-btn{
    font-size: 1.125rem;
    border-radius: 8px;
    background-color: orange;
    padding: 0.75rem 1.375rem !important;
    /* margin-right: 1rem; */
}

.login-btn:hover{
    background-color: rgb(255, 136, 0);
}

/* Footer section */

.footer{
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    color: white;
    text-align: center;
    padding: 2rem;

}

.footer-p{
    cursor: pointer;
    font-size: 1.5rem;
}


/* Carusels */

.carousel-content{
    cursor: pointer;
    margin-bottom: 1rem;
}

.info-h3{
    cursor: pointer;
}

.last-section-img{
    width: auto;
}
.carousel-element{
    text-align: center;
}


/* Search section */

.search-container-vis{
    color: orange;
    width: 100%;
    /* height: 200px; */
    background-color:  rgb(35, 35, 35);
    /* visibility: hidden; */
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.search-container-hid{
    width: 100%;
    /* background-color: gray; */
    visibility: hidden;
    position: absolute;
    z-index: 2;
/* zrobić animacja tego kloca */
}

.close-section{
    /* width: 100%; */
    text-align: right;
    padding: 0.5rem;
}

.close-symbol{
    cursor: pointer;
}

.search-section{
    background-color: white;
    padding-left: 2rem;
    padding-right: 0.5rem;
    border-radius: 50px;
    margin: 0.75rem 2rem;
    display: flex;
    flex-direction: row;
    border: solid var(--border-color);
}

.search-input{
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
    padding: 1.5rem 0;
}

.search-section:focus-within{
    border: solid orange;
}

.input-icon{
    padding: 1.25rem;
    border-radius: 50%;
    align-self: center;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.input-icon:hover{
    background-color: rgb(255, 136, 0);
}

.search-input::placeholder{
    color: black;
}


/* Admin-Nav Section*/

.admin-nav{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: darkblue;
}